  .admin-dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 35px 15px;
    overflow: hidden; /* Prevent page overflow */
  }
  
  .error {
    color: red;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .users-table th {
    background-color: #23bbda;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Navbar styling */

.navbar {
  position: fixed; /* Fixes the navbar at the top */
  top: 0;
  left: 0;
  right: 0;
  
  display: flex;
  justify-content: space-between; /* Space between Home button and Logout */
  background-color: #333;
  padding: 10px;
  z-index: 1000; /* Ensure it stays on top */
}

.navbar button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.navbar button:hover {
  background-color: #0056b3;
}
