/* General Page Style */
.userpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* Make sure it takes full viewport height */
    background-color: rgb(57, 153, 191);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0056b3;
}

.logout-button {
    padding: 10px 30px; /* Make the logout button slightly larger */
}

/* List Styles */
.l1 {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em; /* Space between items */
    margin-top: 20px;
}

.l1 li {
    display: inline;
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

input[type=text], input[type=number], input[type=date], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
}

label {
    padding: 5px 0;
    display: block;
    font-weight: bold;
}

/* View-Remove */
.main {
    display: flex;
}

/* Add Data and View/Remove Blocks */
.component-block {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Message Styles */
.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
